*{
	
	 box-sizing: border-box;
}

/***************** Base Style **********************/
body{ background: #eee; }
h1 {
  margin-bottom: 15px;
  text-align: center;
}

p {
 
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: #181818;
}


.row{ width:100%; }
section{ margin:1%; padding: 0.5%;}
section > h2 { 
	           font-size: 130%;
               width: 22%; 
               left:138px;
               padding:1%; 

             }
              

#chicken { background:#A52A2A; color:#fff; }
#chicken > h2{ background:pink; }
#pork_chop{background:#5F9EA0;}
#pork_chop > h2{ background:yellow; color: #000;}
#steak{background: orange;}
#steak > h2{ background:navy; color:#fff; }


/***************** Desktop View ********************/

@media(min-width:992px) and (max-width:1200px){
  .col-lg-3 , .col-lg-6 , .col-lg-12{
  	float: left;
  }

  .col-md-3{
  	width: 25% !important;
  }
  .col-md-6{
  	width: 50%;
  }
  .col-md-12{
  	width: 100%;
  }

}/* min-width:1200 */



/****************** Tablet View *******************/
@media(min-width: 768px) and (max-width: 991px){
.col-md-3 , .col-md-6 , .col-md-12{
  	float: left;
  }
  .col-md-3{
  	width: 25%;
  }
  .col-md-6{
  	width: 50% !important;
  }
  .col-md-12{
  	width: 100% !important;
  }
}/* min-width:782px and 991px */


